# ignore environment, pictures and projectDEMO
*venv*
.vscode
bh-3 DICOM-20230421T075124Z-001
__pycache__
projectDEMO/*mp4

# ignore test folder
testMha
testDcmOut

# ignore the zip file
bh-3DICOM-20230421T075124Z-001.zip
bh-3DICOM-20230421T075124Z-002.zip

# ignore dicomInfo
dsInfo.txt

# output folder
dcmCutCycleOut
dcmCutCycleOut_copy
