# ignore environment, pictures and projectDEMO
*venv*
.vscode
bh-3 DICOM-20230421T075124Z-001
__pycache__
projectDEMO/*mp4
allDcmHere16_20
CTimageWithPorosity
CT image with detected objects.zip

# ignore test folder
testDcmOut

# ignore dicomInfo
dsInfo.txt

# output folder
dcmCutCycleOut
dcmCutCycleOut_copy
dcmCutCycleOut_copy2
outputExcel.csv
