altair @ file:///tmp/build/80754af9/altair_1599835197802/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs @ file:///work/ci_py311/attrs_1676822758931/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1626289577808/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1622121478442/work
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
brotlipy==0.7.0
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
chardet @ file:///work/ci_py311/chardet_1676830276092/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cheroot @ file:///home/conda/feedstock_root/build_artifacts/cheroot_1668890352408/work
click @ file:///work/ci_py311/click_1676825163161/work
click-spinner==0.1.10
cmake==3.25.0
colorlog==5.0.1
comm @ file:///work/ci_py311/comm_1677709131612/work
construct==2.10.68
contourpy @ file:///work/ci_py311/contourpy_1676827066340/work
cryptography @ file:///work/ci_py311_2/cryptography_1679335572456/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dacite @ file:///croot/dacite_1687451432835/work
datapane @ file:///home/conda/feedstock_root/build_artifacts/datapane_1684936681428/work
debugpy @ file:///work/ci_py311/debugpy_1676824903649/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dicom2jpg==0.1.10
dicomweb-client==0.59.1
dominate @ file:///home/conda/feedstock_root/build_artifacts/dominate_1684707922510/work
dulwich @ file:///croot/dulwich_1679420040193/work
entrypoints @ file:///work/ci_py311/entrypoints_1676823319002/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
face==20.1.1
fastjsonschema @ file:///work/ci_py311_2/python-fastjsonschema_1679340124475/work
filelock @ file:///work/ci_py311/filelock_1676823024085/work
fonttools==4.25.0
furl @ file:///tmp/build/80754af9/furl_1618421806065/work
future==0.18.3
glom @ file:///home/conda/feedstock_root/build_artifacts/glom_1680547264877/work
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
idna @ file:///work/ci_py311/idna_1676822698822/work
imagecodecs==2023.7.10
imageio==2.31.1
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
ipykernel @ file:///work/ci_py311/ipykernel_1677867938687/work
ipynbname @ file:///home/conda/feedstock_root/build_artifacts/ipynbname_1618414774057/work
ipython @ file:///croot/ipython_1680701871216/work
jaraco.functools @ file:///tmp/build/80754af9/jaraco.functools_1617120822655/work
jedi @ file:///work/ci_py311_2/jedi_1679336495545/work
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
jsonschema @ file:///croot/jsonschema_1678983421637/work
jupyter_client @ file:///croot/jupyter_client_1680171862562/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
lit==15.0.7
loguru @ file:///work/ci_py311/loguru_1676858526509/work
lxml @ file:///work/ci_py311/lxml_1676823603437/work
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
matplotlib-inline @ file:///work/ci_py311/matplotlib-inline_1676823841154/work
micawber @ file:///home/conda/feedstock_root/build_artifacts/micawber_1626247887804/work
mistune @ file:///work/ci_py311/mistune_1676823698136/work
monotonic==1.5
more-itertools @ file:///tmp/build/80754af9/more-itertools_1637733554872/work
mpmath==1.2.1
multimethod @ file:///croot/multimethod_1687530375480/work
munkres==1.1.4
nbclient @ file:///work/ci_py311/nbclient_1676823713954/work
nbconvert @ file:///work/ci_py311/nbconvert_1676823854564/work
nbformat @ file:///work/ci_py311/nbformat_1676823523130/work
nest-asyncio @ file:///work/ci_py311/nest-asyncio_1676823382924/work
networkx @ file:///croot/networkx_1678964333703/work
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1687466208449/work
opencv-python==4.8.0.74
openslide-python==1.2.0
orderedmultidict==1.0.1
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panimg==0.12.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs @ file:///work/ci_py311/platformdirs_1676823055788/work
plotly @ file:///work/ci_py311/plotly_1676841625489/work
ply==3.11
posthog @ file:///home/conda/feedstock_root/build_artifacts/posthog_1680730395957/work
prompt-toolkit @ file:///work/ci_py311/prompt-toolkit_1676824857154/work
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==10.0.1
PyContracts==1.8.12
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1686125708906/work
pydicom==2.4.1
Pygments @ file:///croot/pygments_1684279966437/work
pylibjpeg==1.4.0
pylibjpeg-libjpeg==1.3.4
pylibjpeg-openjpeg==1.3.2
pyngrok @ file:///home/conda/feedstock_root/build_artifacts/pyngrok_1681231198186/work
pyOpenSSL @ file:///croot/pyopenssl_1678965284384/work
pyparsing @ file:///work/ci_py311/pyparsing_1677811559502/work
PyQt5-sip==12.11.0
pyrsistent @ file:///work/ci_py311/pyrsistent_1676823088752/work
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///work/ci_py311/pytz_1676825004346/work
pyvips==2.2.1
PyYAML @ file:///work/ci_py311/pyyaml_1676827445582/work
pyzmq @ file:///croot/pyzmq_1686601365461/work
requests @ file:///croot/requests_1682607517574/work
requests-toolbelt @ file:///Users/ktietz/demo/mc3/conda-bld/requests-toolbelt_1629456163440/work
retrying==1.3.4
SimpleITK==2.2.1
sip @ file:///work/ci_py311/sip_1676825117084/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve @ file:///croot/soupsieve_1680518478486/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy @ file:///work/ci_py311_2/sympy_1679339311852/work
tabulate @ file:///work/ci_py311/tabulate_1676838830728/work
tenacity @ file:///croot/tenacity_1682972284834/work
tifffile==0.15.1
tinycss2 @ file:///work/ci_py311/tinycss2_1676823757641/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///work/ci_py311/toolz_1676827522705/work
torch==2.0.0+cu117
torchaudio==2.0.1+cu117
torchvision==0.15.1+cu117
tornado @ file:///work/ci_py311/tornado_1676823418767/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///work/ci_py311/traitlets_1676823305040/work
triton==2.0.0
typing_extensions @ file:///croot/typing_extensions_1686601443660/work
urllib3 @ file:///croot/urllib3_1686163155763/work
vega-datasets @ file:///home/conda/feedstock_root/build_artifacts/vega_datasets_1606414058616/work
vtk==9.0.3
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
wsidicom==0.10.0
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
zipp @ file:///work/ci_py311/zipp_1676822894295/work
